.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header--content {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.App-main {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  background-color: #282c34;
  min-height: 130px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer--content {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer--content---links {
  display: flex;
  flex-direction: column;
}

.footer--content---links ul {
  text-align: start;
}

.footer--content---links  a {
  text-decoration: none;
  color: #f1f1f1
}
